html{
    color: #eead;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    background-color: #883;
}

h1, h2{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    font-size: 26px;
    text-align: center;
}

table{
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #222;
    border-spacing: 0;

    background-color: #fff;
    box-shadow: 0 0 10px 2px #222;
}

th{
    padding: 20px;
    border: 1px #222 solid;
}

td{
    border: 1px #222 solid;
}

li{
    font-size: 29px;
    font-weight: bolder;
}

.text-list{
    text-align: left;
}

.navigation-pages{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #eead;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 0 0 8px #fff3;
}
