body{
    background-color: #a23f;
    font-family: sans-serif;
    color: #ededed;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
}

.nav{
    margin: 0;
    text-align: center;
    background-color: #222
}

.title--menu{
    display: inline-block;
}

.nav__list{
    margin: 0;
}

.nav__item{
    display: inline-block;
}

.item__link{
    display: inline-block;
    text-decoration: none;
    padding: 28px 40px;
    font-size: 25px;
    color: #ededed;
}

.link--button{
    margin-left: 100px;
    background-color: #ededed;
    padding: 20px 40px;
    border-radius: 3px;
    color: #444;
}

.item__link:hover{
    background-color: #ededed;
    color: #444;
}

.link--button:hover{
    background-color: #888;
    color: #ededed;
}

.title, .subtitle, .minititle{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0 0 4px #ededed;
}

.subtitle{
    font-size: 40px;
}

.minititle{
    font-size: 35px;
}

.text-web{
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 5px #222;
}

.list__item{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 0 0 2px #ededed;
}

.item__text{
    font-size: 24px;
    font-style: italic
}

.flexbox{
    width: 1000px;
    display: flex;
    background-color: #ddd;
    border: 3px #222 solid;
    margin: auto;    
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    color: #222;
    font-size: 40px;
    text-align: center;
}


.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

.red{
    background-color: #f33;
}

.green{
    background-color: #3f3;
}

.blue{
    background-color: #33f;
}

.end{
    justify-content: end;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.vertical-box{
    height: 400px;
}

.start{
    align-items: start;
}

.end-vertical{
    align-items: end;
}

.center-vertical{
    align-items: center;
}


footer{
    margin: 0;
    background-color: #222;
    text-align: center;
}

.footer__title{
    font-size: 20px;
    display: inline-block;
}



/* PRACTICA FLEXBOX */

.flexboxnew{
    border: 10px #444e solid;
    margin: 30px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}



.column{
    flex-direction: column;
    justify-content: space-between;
}

.test{
    height: 300px;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

#order1{
}

#order2{

}

#order3{
    
}